<div class="table-title">
  <h3>2017 WILD CARD STANDINGS</h3>
</div>


<div class="wrap">
  <div class="two">
    <table class="table-fill">
      <thead>
        <tr>
          <th class="text-left">Team</th>
          <th class="text-left">Record</th>
          <th class="text-left">GB</th>
          <th class="text-left">Seed</th>
        </tr>
      </thead>
      
      <tbody class="table-hover">
        <tr>
          <td class="text-left-highlight">Robbie's Rays</td>
          <td class="text-left-highlight">90-68-10</td>
          <td class="text-left-highlight">+8.0</td>
          <td class="text-left-highlight">4</td>
        </tr>
        <tr>
          <td class="text-left-highlight">Uncle Charlie</td>
          <td class="text-left-highlight">87-72-9</td>
          <td class="text-left-highlight">+4.5</td>
          <td class="text-left-highlight">5</td>
        </tr>
        <tr>
          <td class="text-left-highlight">Gypsy Danger</td>
          <td class="text-left-highlight">82-76-10</td>
          <td class="text-left-highlight">--</td>
          <td class="text-left-highlight">6</td>
        </tr>
        <tr>
          <td class="text-left">Mookie Monster</td>
          <td class="text-left">78-83-7</td>
          <td class="text-left">5.5</td>
          <td class="text-left"></td>
        </tr>
        <tr>
          <td class="text-left">Backyards Loseagains</td>
          <td class="text-left">70-91-7</td>
          <td class="text-left">13.5</td>
          <td class="text-left"></td>
        </tr>
        <tr>
          <td class="text-left">Sir Didi's Sleepers</td>
          <td class="text-left">68-91-9</td>
          <td class="text-left">14.5</td>
          <td class="text-left"></td>
        </tr>
        <tr>
          <td class="text-left">Goku-san</td>
          <td class="text-left">62-97-9</td>
          <td class="text-left">20.5</td>
          <td class="text-left"></td>
        </tr>
        <tr>
          <td class="text-left">Vino</td>
          <td class="text-left">63-100-5</td>
          <td class="text-left">21.5</td>
          <td class="text-left"></td>
        </tr>
        <tr>
          <td class="text-left">Homecoming</td>
          <td class="text-left">56-104-8</td>
          <td class="text-left">27.0</td>
          <td class="text-left"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="one">
    <div class="onebox">
      <span><strong>Projected first round playoff matchups:</strong></span><br>
      <span>Miggy Stardust (3) vs. Gypsy Danger (6)</span><br>
      <span>Robbie's Rays (4) vs. Uncle Charlie (5)</span><br>
      <br>
      <span>Jar Jar Tartare (1) - Bye</span><br>
      <span>Keep it n your pence (2) - Bye</span>
      <br>
      <br>
      <span><strong>Estimated playoff odds as of 7/10:</strong></span> <br>
      <span> Jar Jar Tartare: 99.79% (+0.14%)</span> <br>
      <span> Keep it n your pence: 99.67% (+0.78%)</span> <br>
      <span> Miggy Stardust: 97.88% (-0.11%)</span> <br>
      <span> Robbie's Rays: 82.87% (+16.13%)</span> <br>
      <span> Uncle Charlie: 79.04% (+0.54%)</span> <br>
      <span> Gypsy Danger: 74.77% (+14.53%)</span> <br>
      <span> Mookie Monster: 32.33% (-13.27%)</span> <br>
      <span> Backyards Loseagains: 15.50% (-2.56%)</span> <br>
      <span> Sir Didi's Sleepers: 11.86% (-4.21%)</span> <br>
      <span> Goku-san: 2.74% </span> (-8.26%)<br>
      <span> Vino: 2.74% (-3.77%)</span> <br>
      <span> Homecoming: 0.81% (+0.06%)</span>
    </div>
    <br> <%= link_to "Restricted players", players_path %>
  </div>
</div>



