<div class="table-title">
  <h3>2017 WILD CARD STANDINGS</h3>
</div>

<div class="wrap">
  <div class="two">
    <table class="table-fill">
      <thead>
        <tr>
          <th class="text-left">Team</th>
          <th class="text-left">Record</th>
          <th class="text-left">GB</th>
          <th class="text-left">Seed</th>
        </tr>
      </thead>
      
      <tbody class="table-hover">
        <tr>
          <td class="text-left-highlight">Robbie's Rays</td>
          <td class="text-left-highlight">95-75-10</td>
          <td class="text-left-highlight">+6.0</td>
          <td class="text-left-highlight">4</td>
        </tr>
        <tr>
          <td class="text-left-highlight">Miggy Stardust</td>
          <td class="text-left-highlight">94-76-10</td>
          <td class="text-left-highlight">+5.0</td>
          <td class="text-left-highlight">5</td>
        </tr>
        <tr>
          <td class="text-left-highlight">Gypsy Danger</td>
          <td class="text-left-highlight">89-81-10</td>
          <td class="text-left-highlight">--</td>
          <td class="text-left-highlight">6</td>
        </tr>
        <tr>
          <td class="text-left">Mookie Monster</td>
          <td class="text-left">83-90-7</td>
          <td class="text-left">7.5</td>
          <td class="text-left"></td>
        </tr>
        <tr>
          <td class="text-left">Backyards Loseagains</td>
          <td class="text-left">72-101-7</td>
          <td class="text-left">18.5</td>
          <td class="text-left"></td>
        </tr>
        <tr>
          <td class="text-left">Sir Didi's Sleepers</td>
          <td class="text-left">68-101-11</td>
          <td class="text-left">20.5</td>
          <td class="text-left"></td>
        </tr>
        <tr>
          <td class="text-left">Vino</td>
          <td class="text-left">71-104-5</td>
          <td class="text-left">20.5</td>
          <td class="text-left"></td>
        </tr>
        <tr>
          <td class="text-left">Goku-san</td>
          <td class="text-left">66-105-9</td>
          <td class="text-left">23.5</td>
          <td class="text-left"></td>
        </tr>
        <tr>
          <td class="text-left">Homecoming</td>
          <td class="text-left">63-109-8</td>
          <td class="text-left">27.0</td>
          <td class="text-left"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="one">
    <div class="onebox">
      <span><strong>Projected first round playoff matchups:</strong></span><br>
      <span>Uncle Charlie (3) vs. Gypsy Danger (6)</span><br>
      <span>Robbie's Rays (4) vs. Miggy Stardust (5)</span><br>
      <br>
      <span>Jar Jar Tartare (1) - Bye</span><br>
      <span>Keep it n your pence (2) - Bye</span>
      <br>
      <br>
      <span><strong>Estimated playoff odds as of 7/24:</strong></span> <br>
      <span> Keep it n your pence: 99.97% (+0.30%)</span> <br>
      <span> Jar Jar Tartare: 99.93% (+0.14%)</span> <br>
      <span> Miggy Stardust: 97.88% (-1.27%)</span> <br>
      <span> Uncle Charlie: 89.79% (+10.75%)</span> <br>
      <span> Gypsy Danger: 81.94% (+7.17%)</span> <br>
      <span> Robbie's Rays: 80.01% (-2.86%)</span> <br>
      <span> Mookie Monster: 31.29% (-1.04%)</span> <br>
      <span> Backyards Loseagains: 9.35% (-6.15%)</span> <br>
      <span> Sir Didi's Sleepers: 5.57% (-6.29%)</span> <br>
      <span> Vino: 2.70% (-0.07%)</span> <br>
      <span> Goku-san: 1.50% (-1.24%)</span><br>
      <span> Homecoming: 1.34% (+0.53%)</span>
    </div>
    <br> <%= link_to "Restricted players", players_path %>
  </div>
</div>