<div class="table-title">
  <h3>2017 WILD CARD STANDINGS</h3>
</div>


<div class="wrap">
  <div class="two">
    <table class="table-fill">
      <thead>
        <tr>
          <th class="text-left">Team</th>
          <th class="text-left">Record</th>
          <th class="text-left">GB</th>
          <th class="text-left">Seed</th>
        </tr>
      </thead>
      
      <tbody class="table-hover">
        <tr>
          <td class="text-left-highlight">Uncle Charlie</td>
          <td class="text-left-highlight">77-60-7</td>
          <td class="text-left-highlight">+10.5</td>
          <td class="text-left-highlight">4</td>
        </tr>
        <tr>
          <td class="text-left-highlight">Trust The Process</td>
          <td class="text-left-highlight">75-59-10</td>
          <td class="text-left-highlight">+10.0</td>
          <td class="text-left-highlight">5</td>
        </tr>
        <tr>
          <td class="text-left-highlight">Swipe Left</td>
          <td class="text-left-highlight">67-71-6</td>
          <td class="text-left-highlight">--</td>
          <td class="text-left-highlight">6</td>
        </tr>
        <tr>
          <td class="text-left">Gypsy Danger</td>
          <td class="text-left">62-73-9</td>
          <td class="text-left">3.5</td>
          <td class="text-left"></td>
        </tr>
        <tr>
          <td class="text-left">Team Emoji</td>
          <td class="text-left">59-76-9</td>
          <td class="text-left">6.5</td>
          <td class="text-left"></td>
        </tr>
        <tr>
          <td class="text-left">Sir Didi's Sleepers</td>
          <td class="text-left">58-80-6</td>
          <td class="text-left">9.0</td>
          <td class="text-left"></td>
        </tr>
        <tr>
          <td class="text-left">Backyards Loseagains</td>
          <td class="text-left">57-81-6</td>
          <td class="text-left">10.0</td>
          <td class="text-left"></td>
        </tr>
        <tr>
          <td class="text-left">Vino</td>
          <td class="text-left">57-82-5</td>
          <td class="text-left">10.5</td>
          <td class="text-left"></td>
        </tr>
        <tr>
          <td class="text-left">SOS</td>
          <td class="text-left">41-96-7</td>
          <td class="text-left">25.5</td>
          <td class="text-left"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="one">
    <div class="onebox">
      <span><strong>Projected first round playoff matchups:</strong></span><br>
      <span>Miggy Stardust (3) vs. Swipe Left (6)</span><br>
      <span>Uncle Charlie (4) vs. Trust The Process (5)</span><br>
      <br>
      <span>Jar Jar Tartare (1) - Bye</span><br>
      <span>Keep it n your pence (2) - Bye</span>
      <br>
      <br>
      <span><strong>Estimated playoff odds as of 6/26:</strong></span> <br>
      <span> Jar Jar Tartare: 99.99% </span> <br>
      <span> Keep it n your pence: 98.28% </span> <br>
      <span> Miggy Stardust: 98.38% </span> <br>
      <span> Uncle Charlie: 87.24% </span> <br>
      <span> Trust The Process: 77.67% </span> <br>
      <span> Gypsy Danger: 35.64% </span> <br>
      <span> Swipe Left: 38.51% </span> <br>
      <span> Backyards Loseagains: 20.28% </span> <br>
      <span> Sir Didi's Sleepers: 16.86% </span> <br>
      <span> Team Emoji: 16.81% </span> <br>
      <span> Vino: 10.10% </span> <br>
      <span> SOS: 0.33% </span>
    </div>
  </div>
</div>
