<div class="table-title">
  <h3>2017 WILD CARD STANDINGS</h3>
</div>


<div class="wrap">
  <div class="two">
    <table class="table-fill">
      <thead>
        <tr>
          <th class="text-left">Team</th>
          <th class="text-left">Record</th>
          <th class="text-left">GB</th>
          <th class="text-left">Seed</th>
        </tr>
      </thead>
      
      <tbody class="table-hover">
        <tr>
          <td class="text-left-highlight">Trust The Process</td>
          <td class="text-left-highlight">79-67-10</td>
          <td class="text-left-highlight">+4.0</td>
          <td class="text-left-highlight">4</td>
        </tr>
        <tr>
          <td class="text-left-highlight">Uncle Charlie</td>
          <td class="text-left-highlight">80-68-18</td>
          <td class="text-left-highlight">+4.0</td>
          <td class="text-left-highlight">5</td>
        </tr>
        <tr>
          <td class="text-left-highlight">Mookie Monster</td>
          <td class="text-left-highlight">77-73-6</td>
          <td class="text-left-highlight">--</td>
          <td class="text-left-highlight">6</td>
        </tr>
        <tr>
          <td class="text-left">Gypsy Danger</td>
          <td class="text-left">72-74-10</td>
          <td class="text-left">3.0</td>
          <td class="text-left"></td>
        </tr>
        <tr>
          <td class="text-left">Backyards Loseagains</td>
          <td class="text-left">65-85-6</td>
          <td class="text-left">12.0</td>
          <td class="text-left"></td>
        </tr>
        <tr>
          <td class="text-left">Sir Didi's Sleepers</td>
          <td class="text-left">63-84-9</td>
          <td class="text-left">12.5</td>
          <td class="text-left"></td>
        </tr>
        <tr>
          <td class="text-left">Goku-san</td>
          <td class="text-left">61-86-9</td>
          <td class="text-left">14.5</td>
          <td class="text-left"></td>
        </tr>
        <tr>
          <td class="text-left">Vino</td>
          <td class="text-left">61-90-5</td>
          <td class="text-left">16.5</td>
          <td class="text-left"></td>
        </tr>
        <tr>
          <td class="text-left">Battle of the League</td>
          <td class="text-left">49-99-8</td>
          <td class="text-left">27.0</td>
          <td class="text-left"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="one">
    <div class="onebox">
      <span><strong>Projected first round playoff matchups:</strong></span><br>
      <span>Miggy Stardust (3) vs. Mookie Monster (6)</span><br>
      <span>Uncle Charlie (4) vs. Trust The Process (5)</span><br>
      <br>
      <span>Jar Jar Tartare (1) - Bye</span><br>
      <span>Keep it n your pence (2) - Bye</span>
      <br>
      <br>
      <span><strong>Estimated playoff odds as of 7/3:</strong></span> <br>
      <span> Jar Jar Tartare: 99.65% (- 0.34%)</span> <br>
      <span> Keep it n your pence: 98.89% (+ 0.61%)</span> <br>
      <span> Miggy Stardust: 97.99% (- 0.39%)</span> <br>
      <span> Uncle Charlie: 78.50% (- 8.74%)</span> <br>
      <span> Trust The Process: 66.74% (- 10.93%)</span> <br>
      <span> Gypsy Danger: 60.24% (+ 24.6%)</span> <br>
      <span> Mookie Monster: 45.60% (+ 7.09%)</span> <br>
      <span> Backyards Loseagains: 18.06% (- 2.22%)</span> <br>
      <span> Sir Didi's Sleepers: 16.07% (- 0.79%)</span> <br>
      <span> Goku-san: 11.00% (- 5.81%)</span> <br>
      <span> Vino: 6.51% (- 3.59%)</span> <br>
      <span> Battle of the League: 0.75% (+ 0.42%)</span>
    </div>
  </div>
</div>